<div class="principal bg-dark">
    <nav>
      <div class="logo">
        <img class="imgLogo" src="../../assets/images/logo1.png" alt="">
      </div>
      <div class="hamburger" id="hamburger" onclick="data()">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
      <ul class="nav-links" id="nav-links">
        <li class="li"><button (click)="home()">Home</button></li>
        <li class="li"><button (click)="contact()">Contacto</button></li>
        <li class="li"><button (click)="contrataciones()">Contrataciones</button></li>
      </ul>
    </nav>
  </div>
  
  
  <!-- </div> -->
  